/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.container{
  display:flex;
  justify-content: space-around;
}
.players{
  display:flex;
  justify-content: space-around;
}
body{
  background-image: url('../img/poker.jpg');
  background-size: cover;
  overflow: hidden;
}

.box{
  display:flex;
  background-color:#A9A9A9;
  margin: 10px;
  padding: 0px 5px;
  box-shadow: 2px 2px 2px gray;
  perspective:100px;
  border-radius: 5px;
  line-height: 50%;
}
button{
  background-color:#A9A9A9;
  margin:5px;
}
h1,h2,h3{
  font-size:25px;
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
